---
import ArticleCard1 from "../../components/ArticleCard1.astro";
import StyleGridContainer1 from "../../components/StyleGridContainer1.astro";
import Layout from "../../layouts/Layout.astro";
import { createFullUrlWithSlug } from "../../utils/slugCreator";
const canonical = createFullUrlWithSlug("/blog/")
const post_figuras = createFullUrlWithSlug("/figuras-de-kuromi/")
console.log(post_figuras)
---

<Layout title="Blog" description="colección de noticias y tutos de kuromi." canonical={canonical} >
    <section>
      <h1>Blog de kuromi</h1>
      <p>
        colección de noticias y tutos de kuromi.
      </p>
    </section>
    <section>
      <StyleGridContainer1 widthCard="300px" >
        <ArticleCard1 title="Figuras coleccionables de kuromi" slug={post_figuras} imageUri="https://m.media-amazon.com/images/I/51xJMBRsyhL.jpg" anchorText="Figuras de kuromi" shortText="Si pensabas que la pequeña enemiga de My Melody solo existía en disco, prepárate" />
      </StyleGridContainer1>
    </section>

</Layout>

<style>
    
    
</style>