---

type Props ={
    widthCard?:string
}
const { widthCard="200px" } = Astro.props as Props
---
<div class="grid-products" style=`grid-template-columns: repeat(auto-fill,minmax(${widthCard},1fr));` >
    <slot/>
</div>

<style>
    .grid-products{
        display: grid;
        gap: 20px;
    }
    
</style>